:root {
    --shadow-s:
    inset 0 1px 2px #ffffff50, /* top highlight */
    0 1px 2px #00000030, /* dark shadow */
    0 2px 4px #00000015; /* soft shadow */

    --shadow-m:
    inset 0 1px 2px #ffffff60, /* top highlight */
    0 2px 4px #00000030, /* dark shadow */
    0 4px 8px #00000015; /* soft shadow */

    --shadow-l:
    inset 0 1px 2px #ffffff80, /* top highlight */
    0 4px 6px #00000030, /* dark shadow */
    0 6px 10px #00000015; /* soft shadow */
}

body {
    padding: 10px 20px;
    margin: 36px;
    background-color: #12100f;
    color: white;
}

.comments-section{
    display: inline-block;
    width: 80vw;
    background-color: #1b1816;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: var(--shadow-s);
    gap: 10px;

    .comment {
        background-color: #242221;
        box-shadow: var(--shadow-m);
        border-radius: 12px;
        padding: 0 10px;
    }
}

.listing-list {
    display: flex;
    gap: 10px;
    background-color: #1b1816;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: var(--shadow-s);
    width: max-content;
    text-decoration: none;

    h3, p, img{
        align-items: center;
        justify-content: center;
    }
    
    .listing:hover{
        background-color: #f82;
        padding: 10px 16px;
    }
}

.listing, .nav-item {
    background-color: #242221;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow-s);
    
    a{text-decoration: none;}

    &:hover{
        box-shadow: var(--shadow-l);
    }
}

button {
    padding: 6px;
    box-shadow: var(--shadow-s);
    transition: all 0.2s ease-in-out;
    border: none;
    background-color: #f82;
    color: white;

    &:hover {
        box-shadow: var(--shadow-l);
        padding: 6px 16px;
    }
}

.listing {
    padding: 10px;
    width: max-content;

    div.bid-section {
        display: flex;
        justify-content: center;
        margin: 12px auto;

        input {
            width: 150px;
            padding: 5px;
            border: none;
            box-shadow: var(--shadow-s);

            &:hover {
                box-shadow: var(--shadow-l);
            }
        }
    }

    img, button, input{
        border-radius: 10px;
        display: block;
        margin: auto;
    }

    img{
        width: 300px;
        max-height: 180px;
        object-fit:contain;
    }

    form#bid {
        display: flex;            
        align-items: center;       
        gap: 12px;           
    }

    a {
        color: white;
        transition: all 0.1s ease-in-out;
    }

    &:hover{
        box-shadow: var(--shadow-l);

        a{color:#242221;}
    }
}

.nav-item {
    padding: 6px 8px;
    margin-right: 10px;
    font-weight: 600;

    a {color: #048aff;}

    &:hover{
        background-color: #363652;
        padding: 6px 12px;
    }
}