{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}YullinskyBay{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div style="font-family: 'Market Sans', Arial, sans-serif; font-size: 48px; font-weight: bold; letter-spacing: -2px;"> <span style="color: #E53238;">Y</span><span style="color: #0064D2;">u</span><span style="color: #F5AF02;">l</span><span style="color: #86B817;">l</span><span style="color: #E53238;">i</span><span style="color: #0064D2;">n</span><span style="color: #F5AF02;">s</span><span style="color: #86B817;">k</span><span style="color: #E53238;">y</span><span style="color: #0064D2;">B</span><span style="color: #F5AF02;">a</span><span style="color: #86B817;">y</span> </div>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create-listing' %}">Create listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
