{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing">   
        <h3>{{ listing.title }} 
            {% if listing in user.wishlist.all %}
                (Wishlisted)
            {% endif %}
        </h3>
        <br>
        <h3>description:</h3>
        <p>{{ listing.description }}</p>
        <p>Current price: ${{ listing.starting_bid }}</p>
        {% if listing.image_url %}
            <img src="{{listing.image_url}}" alt="image of: {{listing.title}}" width="200px">
        {% endif%}

        {% if user.is_authenticated and listing in user.wishlist.all %}
            <form method="POST" action="{% url 'toggle_wishlist' listing.id %}">
                {% csrf_token %}
                <button type="submit">Remove from wishlist</button>
            </form>
        {% else %}
            <form method="POST" action="{% url 'toggle_wishlist' listing.id %}">
                {% csrf_token %}
                <button type="submit">Add to wishlist</button>
            </form>
        {% endif %}
    </div>
{% endblock %}